<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="~{fragmentos/head::head}"></head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="barra_navegacion">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" th:href="@{/}">SpringMarket</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item"><a class="nav-link" th:href="@{/listadoProductos}">Lista productos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/producto/crear}">Crear producto</a></li>
				<li class="nav-item disabled"><a class="nav-link" th:href="@{/login}">Login</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" th:method="post"
				th:action="@{/producto/buscar}">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Nombre producto" aria-label="Search" th:name="nombreProducto">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
	</nav>

</body>

</html>