<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="~{fragmentos/imports::head}"></head>

<body>

	<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>

	<!-- Material form contact -->
	<div class="card">

		<h5 class="card-header info-color white-text text-center py-4" style="background-color:#0f4c75;">
			<strong style="color:white;">Dar de alta un producto</strong>
		</h5>

		<!--Card content-->
		<div class="card-body px-lg-5 pt-0" style="background-color:#3282b8;">

			<!-- Form -->
			<form class="text-center" style="color: #0c9ee2;" th:method="post" th:action="@{/producto/crear}">

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="Nombre"></label>
					<div class="col-md-4">
						<input id="Nombre" name="nombre" type="text"
							placeholder="Nombre del producto" class="form-control input-md">

					</div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="Descripcion"></label>
					<div class="col-md-4">
						<textarea class="form-control" id="Descripcion" name="Descripcion" placeholder="Escribe aquí una breve descripción del producto."></textarea>
					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="id"></label>
					<div class="col-md-4">
						<input id="id" name="id" type="text" placeholder="Id del producto"
							class="form-control input-md" required="">

					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="precio"></label>
					<div class="col-md-4">
						<input id="precio" name="precio" type="text"
							placeholder="Precio del producto" class="form-control input-md">

					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="porcentaje"></label>
					<div class="col-md-4">
						<input id="porcentaje" name="porcentaje" type="text"
							placeholder="Porcentaje de descuento"
							class="form-control input-md">

					</div>
				</div>

				<!-- Send button -->
				<button
					class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
					type="submit" style="background-color:#bbe1fa;"><b>Dar de alta</b></button>

			</form>
			<!-- Form -->

		</div>

	</div>



	<div th:replace="~{fragmentos/imports::pie}"></div>
</body>

</html>