<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="~{fragmentos/imports::head}"></head>
<body>

	<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" th:object="${producto}">
				<h3 class="text-center" th:text="*{nombre}"></h3>
				<div class="card">
					<h5 class="card-header" th:text="'Id: ' + *{id}"></h5>
					<div class="card-body">
						<p class="card-text" th:text="'Descuento: ' + *{descuento} + '%'">Card content
						</p>
					</div>
					<div class="card-footer" th:text="'Descripción: ' +*{descripcion}"></div>
					<div class="card-footer" th:text="'Precio: ' +*{precio} + '€'"></div>
				</div>
<!-- 				<button type="submit" th:method="get" class="btn btn-danger btn-lg" th:href="@{|/producto/borrar/*{id}|}">Borrar producto -->
<!-- 				</button> -->
<!-- 				<a th:href="@{|/producto/borrar/*{id}|}">Borrar</a> -->
			</div>
		</div>
	</div>


	<div th:replace="~{fragmentos/imports::pie}"></div>
</body>

</html>