<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="~{fragmentos/imports::head}"></head>
<body>

	<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" th:object="${producto}">
				<h3 class="text-center" th:text="*{nombre}"></h3>
				<div class="card">
					<h5 class="card-header" th:text="'Id: ' + *{id}"></h5>
					<div class="card-body">
						<p class="card-text" th:text="'Descripción: ' + *{descripcion}">Card
							content</p>
						<p class="card-text" th:text="'Precio: ' + *{precio} + '€'">Card
							content</p>
						<p class="card-text" th:text="'Descuento: ' + *{descuento} + '%'">Card
							content</p>
					</div>
				</div>

				<a th:href="@{|/producto/borrar/*{id}|}" class="btn btn-danger btn-lg m-3">Borrar producto</a>
				<a th:href="@{|/compra/producto/*{id}|}" class="btn btn-success btn-lg m-3">Añadir al carrito</a>
				
				<br>
				
					<hr style="background-color:black;">
					<p><i>Borrar un producto supondrá la pérdida de sus datos por completo. Se borrará directamente de la base de datos.</i></p>
			</div>
		</div>
	</div>


	<div th:replace="~{fragmentos/imports::pie}"></div>
</body>

</html>