<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!-- Material form contact -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Dar de alta un producto</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #0c9ee2;" action="#!">

           <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Nombre"></label>  
  <div class="col-md-4">
  <input id="Nombre" name="Nombre" type="text" placeholder="Nombre del producto" class="form-control input-md">
    
  </div>
</div>

            <!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Descripcion"></label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="Descripcion" name="Descripcion">Escribe aquí una breve descripción del producto.</textarea>
  </div>
</div>

            <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id"></label>  
  <div class="col-md-4">
  <input id="id" name="id" type="text" placeholder="Id del producto" class="form-control input-md" required="">
    
  </div>
</div>

            <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="precio"></label>  
  <div class="col-md-4">
  <input id="precio" name="precio" type="text" placeholder="Precio del producto" class="form-control input-md">
    
  </div>
</div>

            <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="porcentaje"></label>  
  <div class="col-md-4">
  <input id="porcentaje" name="porcentaje" type="text" placeholder="Porcentaje de descuento" class="form-control input-md">
    
  </div>
</div>

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Dar de alta</button>

        </form>
        <!-- Form -->

    </div>

</div>

<!-- Material form contact -->
</body>
</html>