<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="~{fragmentos/imports::head}"></head>
<body>

	<nav th:replace="~{fragmentos/barra_navegacion::barra_navegacion}"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3" th:each="p : ${productos}">
						<table class="table table-sm table-hover">
							<thead>
								<tr>
									
									<th>producto</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td>ID</td>
									<td th:text="${p.id}"></td>
									<td></td>
								</tr>
								<tr class="table-active">
									
									<td>Nombre</td>
									<td th:text="${p.nombre}"></td>
									<td></td>
								</tr>
								<tr class="table-success">
									
									<td>Descripción</td>
									<td th:text="${p.descripcion}"></td>
									<td></td>
								</tr>
								<tr class="table-warning">
									
									<td>Precio</td>
									<td th:text="${p.precio} + '€'"></td>
									<td></td>
								</tr>
								<tr class="table-danger">
									
									<td>Descuento</td>
									<td th:text="${p.descuento} + '%'"></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<div th:replace="~{fragmentos/imports::pie}"></div>
</body>

</html>